body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.converter-app {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
}

h2 {
    color: #333;
    margin-bottom: 25px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ff0000;
}

.arrow {
    font-size: 24px;
    color: #aaa;
    margin: 10px 0;
}